# Core packages
cdsapi
netCDF4
xarray
numpy

# Data science & ML
scikit-learn
matplotlib

# Development tools
jupyter
ipykernel
gcloud
zarr
fsspec
gcsfs
dask
torch
torchvision
pyarrow
fastparquet
optuna
plotly
pip-tools
optuna-dashboard
